/* base css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* global css */
img {
    width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px;
}

.btn {
    padding: 10px 20px;
    border: 0;
    outline: 0;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(90deg, #c21273, #FF008E);
    box-shadow: 0 7px 0 #a5075e;
    position: relative;
    top: 0%;
    font-weight: 600;
    font-size: 18px
}
.btn2{
    color: red;
    cursor: pointer;
    font-size: 18px;
    border: none;
    background-color:transparent;
}

.btn:active {
    top: 5px;
    box-shadow: 0 2px 0 #a5075e;
}

h1 {
    font-size: 40px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 25px;
}

p {
    font-size: 18px;
}

.highlight {
    color: #FF008E;
}
.title{
    text-align: center;
}
.title h2{
    color:black;
    display: inline;
    border-bottom: 2px solid #FF008E;
}



/* header css */
header {
    background-image: url('../images/cloud.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    background-color: rgba(0, 0, 0, 0.542);
    background-blend-mode: overlay;


}

.header {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-right: 15px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 600;
    padding: 10px;
    transition: .2s linear;
}

.navbar ul li a:hover {
    color: #FF008E;
}

/* banner-section */
.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.banner-container {
    max-width: 1140px;
    padding: 50px, 50px, 0, 50px;
    margin: 0 auto;

}

.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-left h1,
p {
    color: white;
}

.banner-left p {
    margin: 20px 0;
}

.border-left .btn {
    width: 100%;
    justify-content: flex-start;
}

.banner-right img {
    width: 81%;
}

.banner-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* feature-card section */
.feature-card{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
}
.card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 50px;
    width: 400px;
}
.card .icon{
    font-size: 20px;
    background-color: #FF008E;
    padding: 15px;
    border-radius: 50%;
    color: white;
}
.card h3{
    color: #FF008E;
    margin: 20px 0;
}
.card p{
color: black;
margin-bottom: 15px;
}

/* gallery-section */
.gallery{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 30px;
 margin-top: 50px;
 
}
.item img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border: 4px solid #FF008E;
}

/* contact-section */
.contact{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 20px;
}
.contact-right form{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
  
}
.contact-right button.btn {
    margin-top: 10px;
}
input, textarea{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-family: inherit;
    outline: 0;
    border: 2px solid #FF008E;
}